@import url('stylenv.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    min-height: 100vh;
    line-height: 1.5;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 10px 0;
    z-index: 10;
}

   
    #main-header .col-3 img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        margin-left: 20px;
    }

    #main-header .col-3 label {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        gap: 12px;
        margin-left: 10px;
    }

/* Thanh tìm kiếm */
#tnb-google-search-container {
    position: relative;
    max-width: 100%;
}

    #tnb-google-search-container input {
        padding: 5px 40px 5px 15px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        width: 100%;
        background: linear-gradient(180deg, rgb(232, 238, 255) 20.27%, rgb(255, 255, 255) 100%);
    }

#tnb-google-search-submit-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Menu */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none
}


    .nav-container::after {
        content: '';
        position: absolute;
        top: -100px;
        right: -100px;
        width: 650px;
        height: 650px;
        filter: blur(100px);
        z-index: -1;
        pointer-events: none;
    }

.nav-icon {
    cursor: pointer;
    
    transition: transform 0.3s ease, filter 0.3s ease;
   
}

    .nav-icon:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
    }

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px;
    border-radius: 8px;
    position:relative;
}


    .user-profile .user-name:hover {
        background-color: radial-gradient(57.27% 59.79% at 50% 61.78%, rgba(0, 102, 255, 0.15) 0%, rgba(0, 132, 255, 0.15) 27.12%, rgba(22, 155, 255, 0.15) 52.75%, rgba(104, 240, 255, 0.15) 100%);
        color: #3241BD;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 18px;
        font-weight: 600;
    }

/* Căn chỉnh thông tin người dùng */
.user-info {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    /* Khoảng cách giữa text và icon */
    transition: color 0.3s ease;
    /* Căn giữa theo chiều dọc */
}



/* Phong cách tên người dùng */
.user-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
}

/* Phong cách thông tin chi tiết */
.user-detail {
    margin: 0;
    font-size: 10px;
    color: gray;
}

/* Phong cách ảnh avatar */
.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-profile .user-avatar:hover {
    transform: scale(1.1);
}

.admin-container {
    display: flex;
    width: 100%;
}
/*OpTion*/
.dropdown-panel {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--6, linear-gradient(90deg, #E8EEFF 28.6%, #FFF 141.13%));
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}
/* Định dạng cho dropdown panel */
.dropdown-panel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .dropdown-panel ul li {
        padding: 0;
    }

        .dropdown-panel ul li a {
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 16px;
            color: #333;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .dropdown-panel ul li a:hover{
                background: var(--2, linear-gradient(90deg, #3540B9 0%, #1746E1 50%, #0095FF 100%));
                color: white;
            }
                .dropdown-panel ul li a:hover i.icon {
                    color: white; /* Màu icon thay đổi khi hover */
                }
            /* Định dạng cho icon trong a */
            .dropdown-panel ul li a i.icon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                font-size: 20px;
                color: #555;
            }

/* Định dạng riêng cho phần Đăng xuất */
.logout-item {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

    .logout-item a {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 16px;
        color: red;
        text-decoration: none;
        font-weight: bold;
    }

        .logout-item a i.icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            font-size: 20px;
        }

        .logout-item a:hover {
            background-color: red;
            color: white;
        }

/* Sidebar */
.dashboard {
    display: grid;
    gap: 20px;
    padding: 20px;
    margin-top: 80px;
    height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    padding: 2px;
    border-radius: 10px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    margin-top: -20px;
    position: relative;
    flex-grow: 1;
}

/* Welcome Message */
.welcome-message {
    text-align: left;
    margin-bottom: 20px;
}

    .welcome-message h2 {
        font-size: 24px;
        margin: 0;
        color: #333;
    }

    .welcome-message .highlight {
        display: block;
        font-size: 36px;
        font-weight: bold;
        background: var(--2, linear-gradient(90deg, #3540B9 0%, #1746E1 50%, #0095FF 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        /* Xóa margin */
    }

    .welcome-message .update-info {
        font-size: 12px;
        color: #666;
        margin-top: 5px;
        /* Khoảng cách trên */
    }

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.sidebar .nav-link {
    color: #333;
    padding: 10px 15px;
    display: block;
    font-size: 16px;
    text-decoration: none;
}

    .sidebar .nav-link:hover,
    .sidebar .nav-link.active {
        display: flex;
        padding: 9.333px 18.667px;
        align-items: flex-start;
        gap: 6.667px;
        align-self: stretch;
        color: white;
        border-radius: 8px;
        background: var(--2, linear-gradient(90deg, #3540B9 0%, #1746E1 50%, #0095FF 100%));
    }


