@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main-content" class="container py-5">

    <div class="hero-section">
        <div class="mask-group">
            <img src="~/Content/img/mask-group.png" alt="Mask Group">
        </div>
        <h1>QUẢN LÝ NGUỒN LỰC CỦA BẠN<br>THEO CÁCH CHUYÊN NGHIỆP NHẤT</h1>
        <p>HD - Chuyên Nghiệp - Tiện Lợi - An Toàn</p>
        <button>Khám phá ngay</button>

    </div>

    <div class="stats-section">
        <div class="stat-item">
            <h2>800+</h2>
            <p><span class="stat-title">Sản phẩm</span></p>
            <p class="stat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="stat-item">
            <h2>30+</h2>
            <p><span class="stat-title">Đối tác</span></p>
            <p class="stat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="stat-item">
            <h2>200+</h2>
            <p><span class="stat-title">Khách hàng</span></p>
            <p class="stat-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</main>
