@{

    ViewBag.Title = "Phongban";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Css/stylePB.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Thêm jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Thêm jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>PHÒNG BAN</title>
</head>
<section class="main-section">
    <div class="Tieude">
        <h2>Danh sách phòng ban</h2>
        <div class="right-tools" ">
            <button class="loc" id="openFilter">
                <img src="~/Content/img/Vectorloc.png" alt="loc" class="icon-nav">
            </button>

            <button class="Them" id="openPanel">
                Thêm
                <img src="~/Content/img/Vectorthem.png" alt="icon-them">
            </button>

        </div>
    </div>
    <div class="tableds">
        <table class="table table-hover">
            <thead class="truong">
                <tr>
                    <th scope="col">Mã phòng ban</th>
                    <th scope="col">Tên phòng ban</th>
                    <th scope="col">Số lượng nhân viên</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Tùy chọn</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Trước</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Tiếp theo</a>
            </li>
        </ul>
    </nav>
</section>

<!-- panel thêm -->
<aside class="right-panel" id="rightPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Thêm thông tin</h3>
        <button id="closePanel" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <form class="panel-content">
        <div class="form-group">
            <input type="text" id="mapb" name="mapb" class="input-control" placeholder="Mã phòng ban" aria-label="Mã phòng ban">
            <input type="text" id="tenpb" name="tenpb" class="input-control" placeholder="Tên phòng ban" aria-label="Tên phòng ban">
            <input type="text" id="mota" name="tenpb" class="input-control" placeholder="Mô tả" aria-label="Mô tả">
        </div>

        <div class="panel-footer d-flex justify-content-between">
            <button id="save" name="save" class="btn btn-save">Lưu<i class="fas fa-save icon-btn"></i> </button>
            <button id="xoa" name="xoa" class="btn btn-delete"> Xóa<i class="fas fa-trash-alt icon-btn"></i></button>
        </div>
    </form>
</aside>
<!-- panel sửa -->
<aside class="form-panel" id="formPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Chỉnh sửa thông tin</h3>
        <button id="closePanel1" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <form class="panel-content">
        <div class="form-group">
            <input type="text" id="mapb" name="mapb" class="input-control" placeholder="Mã phòng ban" aria-label="Mã phòng ban">
            <input type="text" id="tenpb" name="tenpb" class="input-control" placeholder="Tên phòng ban" aria-label="Tên phòng ban">
            <input type="text" id="mota" name="tenpb" class="input-control" placeholder="Mô tả" aria-label="Mô tả">
        </div>

        <div class="panel-footer d-flex justify-content-between">
            <button id="saveedit" name="save" class="btn btn-save">Lưu<i class="fas fa-save icon-btn"></i> </button>
            <button id="xoaedit" name="xoa" class="btn btn-delete"> Xóa<i class="fas fa-trash-alt icon-btn"></i></button>
        </div>
    </form>

</aside>
<!-- panel lọc -->
<aside class="filter-panel" id="filterPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Bộ lọc</h3>
        <button id="closeFilterPanel" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="panel-content">


        <div class="filter-section">
            <label for="department-filter">Tên phòng ban</label>
            <select id="department-filter">
               
            </select>
        </div>

        <div class="panel-footer d-flex justify-content-between">
            <button id="SubmitFilterPanel" type="button" class="btn btn-ok" aria-label="ok">
                Xác nhận
                <i class="fa-solid fa-check"></i>
            </button>
        </div>
    </div>
</aside>
@Scripts.Render("~/bundles/phongban")
