@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐĂNG NHẬP</title>
    <link rel="stylesheet" href="~/Content/Css/style.css">
</head>

<body>
    <div class="custom-container">
        <div class="custom-dangnhap">
            <h1>Chào mừng đến với <span class="highlight">HDwebsite!</span></h1>
            <p>Chào mừng đã quay trở lại với <span class="highlight1">HDwebsite</span>. Đăng nhập để có những trải nghiệm tốt nhất.</p>
            <form method="post">
                <div class="input-wrapper">
                    <input class="custom-tdn" type="text" placeholder="Tên đăng nhập" name="user" required>
                    <input class="custom-pass" type="password" placeholder="Mật khẩu" name="pass" required>
                </div>

                <a href="#">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="illustration-section">
            <div class="image-wrapper">
                <img src="~/Content/img/Rectangle 22.png" alt="Illustration" class="background-image">
                <img src="~/Content/img/a.png" alt="a" class="foreground-image">
            </div>
        </div>
    </div>


</body>

</html>

