@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOÀNG DIỆU SCHOOL</title>
    <link rel="stylesheet" href="~/Content/Css/globals.css">
    <link rel="stylesheet" href="~/Content/Css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="form-section">
            <h1>Chào mừng đến với <span class="highlight">HDwebsite!</span></h1>
            <p>Chào mừng đã quay trở lại với <span class="highlight1">HDwebsite</span>. Đăng nhập để có những trải nghiệm tốt nhất.</p>
            <form method="post">
                <input class="tdn" type="text" placeholder="Tên đăng nhập" name="user" required>
                <div class="password-wrapper">
                    <input type="password" placeholder="Mật khẩu" name="pass" required>
                    <img src="~/Content/img/Hide.png" alt="Hide" class="hide-icon">
                </div>
                <a href="#">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="illustration-section">
            <div class="image-wrapper">
                <img src="~/Content/img/Rectangle 22.png" alt="Illustration" class="background-image">
                <img src="~/Content/img/a.png" alt="a" class="foreground-image">
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>

</html>

