@{
    ViewBag.Title = "UpdateInfo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Css/styleinfo.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>HOÀNG DIỆU SCHOOL</title>
</head>
<div class="main-container">

    <section class="form-section">
        <div class="header-illustration">
            <h2>Cập nhật thông tin cá nhân</h2>
        </div>
        <form>
            <div class="form-group">
                <div class="form-left">
                    <label for="manv">Mã nhân viên</label>
                    <input type="text" id="manv">
                    <label for="hoten">Họ và tên</label>
                    <input type="text" id="hoten">
                    <label for="cccd">CCCD</label>
                    <input type="text" id="cccd">
                    <label for="phongban">Phòng ban</label>
                    <select id="phongban" name="MaPhongBan">
                        <option value="PB1" @(Model.MaPhongBan == "PB1" ? "selected" : "")>Khoa ngoại ngữ</option>
                        <option value="PB2" @(Model.MaPhongBan == "PB2" ? "selected" : "")>Khoa tự nhiên</option>
                    </select>
                    <label for="gioitinh">Giới tính</label>
                    <select id="gioitinh">
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                    <label for="noisinh">Nơi sinh</label>
                    <select id="noisinh" name="noisinh" class="input-select">
                        <option value="" selected>Chọn tỉnh/thành phố</option>
                    </select>
                    <label for="dantoc">Dân tộc</label>
                    <select id="dantoc" name="dantoc" class="input-select">
                        <option value="" selected>Chọn dân tộc</option>
                    </select>
                    <label for="trinhdo">Trình độ học vấn</label>
                    <select id="trinhdo" name="trình độ" class="input-select">
                        <option value="" selected>Chọn trình độ</option>
                    </select>

                    <label for="email">Email</label>
                    <input type="email" id="email">
                </div>

                <div class="form-right">
                    <label for="photo">Ảnh hồ sơ (2x3)</label>
                    <div class="image-frame">
                        <img id="uploadedImage" src="path-to-default-image.jpg" alt="Xem trước ảnh">
                    </div>
                    <input class="file-img" type="file" id="uploadImage" accept="image/*">
                    <label for="ngaysinh">Ngày sinh</label>
                    <input type="date" id="ngaysinh">
                    <label for="sodienthoai">Số điện thoại</label>
                    <input type="text" id="sodienthoai">
                    <label for="ngaybatdaulam">Ngày bắt đầu làm</label>
                    <input type="date" id="ngaybatdaulam">
                    <label for="chucvu">Chức vụ</label>
                    <select id="chucvu" name="chucvu" class="input-select">
                        <option value="" selected>Chọn chức vụ</option>
                    </select>
                </div>
            </div>
            <div class="form-buttons">
                <button type="submit" id="save" name="save" class="btn btn-save">Lưu<i class="fas fa-save icon-btn"></i> </button>
                <button id="xoa" name="xoa" class="btn btn-delete"> Xóa<i class="fas fa-trash-alt icon-btn"></i></button>
                <button id="huy" name="huy" class="btn btn-huy">Hủy<i class="fa-solid fa-circle-xmark icon-btn"></i> </button>
            </div>
        </form>
    </section>


    <aside class="illustration-section">
        <div class="image-wrapper">
            <img src="~/Content/img/Group 9.png" alt="Illustration" class="background-image">
        </div>
    </aside>
</div>
@Scripts.Render("~/bundles/updateInfor")
<script type="text/javascript">
    var updateInfoUrl = '@Url.Action("UpdateInfo", "MyHome")';
</script>