@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Css/styleNV.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Thêm jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Thêm jQuery UI -->

    <title>NHÂN VIÊN</title>
</head>

<section class="main-section">
    <div class="Tieude">
        <h2>Danh sách nhân viên</h2>
        <div class="right-tools">
            <select id="rowsPerPage" class="rows-per-page">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <button class="quanly">
                Quản lý
                <i class="fa-solid fa-user icon-nav"></i>
            </button>
            <button class="loc" id="openFilter">
                <img src="~/Content/img/Vectorloc.png" alt="loc" class="icon-nav">
            </button>

            <button class="Them" id="openPanel">
                Thêm
                <img src="~/Content/img/Vectorthem.png" alt="icon-them">
            </button>

        </div>
    </div>
    <div class="tableds">
        <table class="table table-hover" id="employeeTable">
            <thead class="truong">
                <tr>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Phòng ban</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Tình trạng</th>
                    <th scope="col">Tùy chọn</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        <span id="pageInfo" class="page-info"></span>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end" id="pagination">
                
            </ul>
        </nav>
    </div>
</section>
<!-- panel thêm -->
<aside class="right-panel" id="rightPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Thêm thông tin</h3>
        <button id="closePanel" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
   <form class="panel-content">
    <div class="form-group">
        <label for="manv">Mã nhân viên</label>
        <input type="text" id="manv" name="manv" class="input-control" placeholder="Mã nhân viên" aria-label="Mã nhân viên">
        <span id="manv-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="hoten">Họ và tên</label>
        <input type="text" id="ten" name="ten" class="input-control" placeholder="Họ và tên" aria-label="Họ và tên">
        <span id="ten-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="cccd">CCCD</label>
        <input type="text" id="cccd" name="cccd" class="input-control" placeholder="CCCD" aria-label="CCCD">
        <span id="cccd-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="phongban">Phòng ban</label>
        <select id="phongban"  name="phongban" class="input-select" title="phòng ban">
            <option  value="" selected>Phòng ban</option>
        </select>
        <span id="phongban-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="ngaysinh">Ngày sinh</label>
        <input type="date" id="ngaysinh" class="input-control datepicker-input" placeholder="Ngày sinh" aria-label="Ngày sinh">
        <span id="ngaysinh-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="gioitinh">Giới tính</label>
        <select id="gioitinh" name="gioitinh" class="input-select">
            <option selected>Giới tính</option>
            <option value="1">Nam</option>
            <option value="2">Nữ</option>
        </select>
       <span id="gioitinh-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="noisinh">Nơi sinh</label>
        <select id="noisinh" name="noisinh" class="input-select">
            <option value="" selected>Chọn tỉnh/thành phố</option>
        </select>
        <span id="noisinh-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="sodienthoai">Số điện thoại</label>
        <input type="text" id="sodienthoai" name="sodienthoai" class="input-control" placeholder="Số điện thoại" aria-label="Số điện thoại">
        <span id="sodienthoai-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>

        <label for="dantoc">Dân tộc</label>
        <select id="dantoc" name="dantoc" class="input-select">
            <option value="" selected>Chọn dân tộc</option>
        </select>
        <span id="dantoc-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>
        
        <label for="ngaybatdaulam">Ngày bắt đầu làm</label>
        <input type="date" id="ngayvaolam" name="ngayvaolam" class="input-control datepicker-input" placeholder="Ngày bắt đầu làm" aria-label="Ngày bắt đầu làm">
        <span id="ngayvaolam-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>
  
        <label for="trinhdo">Trình độ</label>
        <select id="trinhdo" name="trinhdo" class="input-select" title="trình độ">
            <option  value="" selected>Trình độ học vấn</option>
        </select>
        <span id="trinhdo-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>
  
        <label for="chucvu">Chức vụ</label>
        <select id="chucvu" name="chucvu" class="input-select" title="chức vụ">
            <option  value="" selected>Chức vụ</option>
        </select>
       <span id="chucvu-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>
   
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="input-control" placeholder="Email" aria-label="Email">
        <span id="email-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>
    
        <label for="tinhtrang">Tình trạng</label>
        <select id="tinhtrang" name="tinhtrang" class="input-select">
            <option selected>Tình trạng</option>
            <option value="1">Đang làm việc</option>
            <option value="2">Nghỉ việc</option>
        </select>
        <span id="tinhtrang-error" class="error-message"><i class="fas fa-exclamation-circle error-icon"></i> <span></span></span>
    </div>

    <div class="panel-footer d-flex justify-content-between">
        <button id="save" name="save" class="btn btn-save">Lưu <i class="fas fa-save icon-btn"></i></button>
        <button id="xoa" name="xoa" class="btn btn-delete">Xóa <i class="fas fa-trash-alt icon-btn"></i></button>
    </div>
</form>



</aside>

<!-- panel sửa -->
<aside class="form-panel" id="formPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Chỉnh sửa thông tin</h3>
        <button id="closePanel1" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <form class="panel-content">
        <div class="form-group">
            <input type="text" id="manvedit" name="manv" class="input-control" placeholder="Mã nhân viên" aria-label="Mã nhân viên">
            <input type="text" id="tenedit" name="ten" class="input-control" placeholder="Họ và tên" aria-label="Họ và tên">
            <input type="text" id="cccdedit" name="cccd" class="input-control" placeholder="CCCD" aria-label="CCCD">
            <select id="phongbanedit" name="phongban" class="input-select">
                <option selected>Phòng ban</option>
            </select>
            <input type="date" id="ngaysinhedit" class="input-control datepicker-input" placeholder="Ngày sinh"
                   aria-label="Ngày sinh">
            <select id="gioitinhedit" name="gioitinh" class="input-select">
                <option selected>Giới tính</option>
                <option value="1">Nam</option>
                <option value="2">Nữ</option>
            </select>
            <select id="noisinhedit" name="noisinhedit" class="input-select">
                <option value="" selected>Chọn tỉnh/thành phố</option>
            </select>
            <input type="text" id="sodienthoaiedit" name="sodienthoaiedit" class="input-control" placeholder="Số điện thoại" aria-label="Số điện thoại">
            <select id="dantocedit" name="dantoc" class="input-select">
                <option value="" selected>Chọn dân tộc</option>
            </select>

            <input type="date" id="ngayvaolamedit" name="ngayvaolam" class="input-control datepicker-input" placeholder="Ngày bắt đầu làm"
                   aria-label="Ngày bắt đầu làm" />
            <select id="trinhdoedit" name="trinhdo" class="input-select">
                <option selected>Trình độ học vấn</option>
            </select>
            <select id="chucvuedit" name="chucvu" class="input-select">
                <option selected>Chức vụ</option>

            </select>
            <input id="emailedit" type="email" name="email" class="input-control" placeholder="Email" aria-label="Email">
            <select id="tinhtrangedit" name="tinhtrangedit" class="input-select">
                <option selected>Tình trạng</option>
                <option value="1">Đang làm việc</option>
                <option value="2">Nghỉ việc</option>

            </select>
        </div>

        <div class="panel-footer d-flex justify-content-between">
            <button id="saveedit" name="save" class="btn btn-save">Lưu<i class="fas fa-save icon-btn"></i> </button>
            <button id="xoaedit" name="xoa" class="btn btn-delete"> Xóa<i class="fas fa-trash-alt icon-btn"></i></button>
        </div>
    </form>

</aside>

<!-- panel chi tiết -->
<aside class="details-panel" id="detailPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Chi tiết thông tin</h3>
        <div class="panel-controls">
            <button id="menuButton" type="button" class="btn-menu" aria-label="Menu">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <button id="closeDetailPanel" type="button" class="btn-close" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <ul class="dropdown-menu panel-detail-menu" style="display: none;">
            <li><a href="#" class="edit-option" onclick="openEditPanel(e)">Sửa</a></li>
            <li><a href="#" class="delete-option">Xóa</a></li>
        </ul>
    </div>
    <div class="panel-content">
        <div class="profile-image">
            <img src="~/Content/img/cute.jpg" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="employee-info">
            <span class="manv"></span>
            <h2 class="ten"></h2>
            <div class="employee-department">
                <span class="department"></span>
                <span class="position"></span>
            </div>
        </div>
        <div class="detail-group">
            <div class="detail-item">
                <label for="cccd"></label>
                <span id="cccd"></span>
            </div>
            <div class="detail-item">
                <label for="ngaysinh"></label>
                <span id="ngaysinh"></span>
            </div>
            <div class="detail-item">
                <label for="gioitinh">h</label>
                <span id="gioitinh"></span>
            </div>
            <div class="detail-item">
                <label for="noisinhsinh"></label>
                <span id="noisinhsinh"></span>
            </div>
            <div class="detail-item">
                <label for="sodienthoai">Số điện thoại</label>
                <span id="sodienthoai"></span>
            </div>
            <div class="detail-item">
                <label for="email">Email</label>
                <span id="email"></span>
            </div>
            <div class="detail-item">
                <label for="dantoc"></label>
                <span id="dantoc"></span>
            </div>
            <div class="detail-item">
                <label for="ngayvaolam"></label>
                <span id="ngayvaolam"></span>
            </div>
            <div class="detail-item">
                <label for="trinhdo"></label>
                <span id="trinhdo"></span>
            </div>
            <div class="detail-item">
                <label for="chucvu"></label>
                <span id="chucvu"></span>
            </div>
        </div>
    </div>
</aside>

<!-- panel lọc -->
<aside class="filter-panel" id="filterPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Bộ lọc</h3>
        <button id="closeFilterPanel" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="panel-content">
        <div class="filter-section">
            <label for="time-filter">Thời gian</label>
            <div class="filter-options " id="time-filter">
                <div class="filter-option" onclick="selectFilter(this, 'time', '1-week')" data-value="1-week">Dưới 1 tuần</div>
                <div class="filter-option" onclick="selectFilter(this, 'time', '1-month')" data-value="1-month">Dưới 1 tháng</div>
                <div class="filter-option" onclick="selectFilter(this, 'time', '1-year')" data-value="1-year">Dưới 1 năm</div>
            </div>
        </div>

        <div class="filter-section">
            <label for="gender-filter">Giới tính</label>
            <div class="filter-options" id="gender-filter">
                <div class="filter-option" onclick="selectFilter(this, 'gender', 'male')">Nam</div>
                <div class="filter-option" onclick="selectFilter(this, 'gender', 'female')">Nữ</div>
                <div class="filter-option" onclick="selectFilter(this, 'gender', 'other')">Khác</div>
            </div>
        </div>

        <div class="filter-section">
            <label for="department-filter">Phòng ban</label>
            <select id="department-filter" name="phongban" class="input-select" title="phòng ban">
                <option value="all" selected>Tất cả</option>
            </select>
        </div>

        <div class="filter-section">
            <label for="position-filter">Chức vụ</label>
            <select id="position-filter" title="chức vụ">
                <option value="all" selected>Tất cả</option>
            </select>
        </div>

        <div class="filter-section">
            <label for="age-range">Độ tuổi</label>
            <div class="age-range">
                <input type="number" id="age-min" min="18" max="62" value="18" oninput="updateAgeRange()">
                <span>-</span>
                <input type="number" id="age-max" min="18" max="62" value="62" oninput="updateAgeRange()">
            </div>
        </div>

        <div class="filter-section">
            <label>Tình trạng</label>
            <div class="filter-options">
                <label><input type="radio" name="status" value="working" checked> Đang làm việc</label>
                <label><input type="radio" name="status" value="quit" > Nghỉ việc</label>
            </div>
        </div>
        <div class="panel-footer d-flex justify-content-between">
            <button id="SubmitFilterPanel" type="button" class="btn btn-ok" aria-label="ok">
                Xác nhận
                <i class="fa-solid fa-check"></i>
            </button>
        </div>
    </div>
</aside>


@Scripts.Render("~/bundles/main")
