
@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Css/styleNV.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Thêm jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Thêm jQuery UI -->

    <title>HOÀNG DIỆU SCHOOL</title>
</head>
<section class="main-section">
    <div class="Tieude">
        <h2>Danh sách nhân viên</h2>
        <div class="right-tools">
            <button class="loc">
                <img src="~/Content/img/Vectorloc.png" alt="loc" class="icon-nav">
            </button>

            <button class="Them" id="openPanel">
                Thêm
                <img src="~/Content/img/Vectorthem.png" alt="icon-them">
            </button>

        </div>
    </div>
    <div class="tableds">
        <table class="table table-hover" id="employeeTable">
            <thead class="truong">
                <tr>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Trực thuộc bộ phận</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Tình trạng</th>
                    <th scope="col">Tùy chọn</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>
<!-- panel thêm -->
<aside class="right-panel" id="rightPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Thêm thông tin</h3>
        <button id="closePanel" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <form class="panel-content">
        <div class="form-group">
            <input type="text" id="manv" name="manv" class="input-control" placeholder="Mã nhân viên" aria-label="Mã nhân viên">
            <input type="text" id="ten" name="ten" class="input-control" placeholder="Họ và tên" aria-label="Họ và tên">
            <input type="text" id="cccd" name="cccd" class="input-control" placeholder="CCCD" aria-label="CCCD">
            <select id="phongban" name="phongban" class="input-select">
                <option selected>Phòng ban</option>
            </select>
            <input type="date" id="ngaysinh" class="input-control datepicker-input" placeholder="Ngày sinh"
                   aria-label="Ngày sinh">
            <select id="gioitinh" name="gioitinh" class="input-select">
                <option selected>Giới tính</option>
                <option value="1">Nam</option>
                <option value="2">Nữ</option>
            </select>
            <select id="noisinh" name="noisinh" class="input-select">
                <option value="" selected>Chọn tỉnh/thành phố</option>
            </select>
            <input type="text" id="sodienthoai" name="sodienthoai" class="input-control" placeholder="Số điện thoại" aria-label="Số điện thoại">
            <select id="dantoc" name="dantoc" class="input-select">
                <option value="" selected>Chọn dân tộc</option>
            </select>

            <input type="date" id="ngayvaolam" name="ngayvaolam" class="input-control datepicker-input" placeholder="Ngày bắt đầu làm"
                   aria-label="Ngày bắt đầu làm" />
            <select id="trinhdo" name="trinhdo" class="input-select">
                <option selected>Trình độ học vấn</option>
            </select>
            <select id="chucvu" name="chucvu" class="input-select">
                <option selected>Chức vụ</option>

            </select>
            <input id="email" type="email" name="email" class="input-control" placeholder="Email" aria-label="Email">
        </div>

        <div class="panel-footer d-flex justify-content-between">
            <button id="save" name="save" class="btn btn-save">Lưu<i class="fas fa-save icon-btn"></i> </button>
            <button id="xoa" name="xoa" class="btn btn-delete"> Xóa<i class="fas fa-trash-alt icon-btn"></i></button>
        </div>
    </form>


</aside>

<!-- panel sửa -->
<aside class="form-panel" id="formPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Chỉnh sửa thông tin</h3>
        <button id="closePanel1" type="button" class="btn-close" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <form class="panel-content">
        <div class="form-group">
            <input type="text" id="manvedit" name="manv" class="input-control" placeholder="Mã nhân viên" aria-label="Mã nhân viên">
            <input type="text" id="tenedit" name="ten" class="input-control" placeholder="Họ và tên" aria-label="Họ và tên">
            <input type="text" id="cccdedit" name="cccd" class="input-control" placeholder="CCCD" aria-label="CCCD">
            <select id="phongbanedit" name="phongban" class="input-select">
                <option selected>Phòng ban</option>
            </select>
            <input type="date" id="ngaysinhedit" class="input-control datepicker-input" placeholder="Ngày sinh"
                   aria-label="Ngày sinh">
            <select id="gioitinhedit" name="gioitinh" class="input-select">
                <option selected>Giới tính</option>
                <option value="1">Nam</option>
                <option value="2">Nữ</option>
            </select>
            <select id="noisinhedit" name="noisinh" class="input-select">
                <option value="" selected>Chọn tỉnh/thành phố</option>
            </select>
            <input type="text" id="sodienthoai" name="sodienthoai" class="input-control" placeholder="Số điện thoại" aria-label="Số điện thoại">
            <select id="dantocedit" name="dantoc" class="input-select">
                <option value="" selected>Chọn dân tộc</option>
            </select>

            <input type="date" id="ngayvaolamedit" name="ngayvaolam" class="input-control datepicker-input" placeholder="Ngày bắt đầu làm"
                   aria-label="Ngày bắt đầu làm" />
            <select id="trinhdoedit" name="trinhdo" class="input-select">
                <option selected>Trình độ học vấn</option>
            </select>
            <select id="chucvuedit" name="chucvu" class="input-select">
                <option selected>Chức vụ</option>

            </select>
            <input id="emailedit" type="email" name="email" class="input-control" placeholder="Email" aria-label="Email">
        </div>

        <div class="panel-footer d-flex justify-content-between">
            <button id="saveedit" name="save" class="btn btn-save">Lưu<i class="fas fa-save icon-btn"></i> </button>
            <button id="xoaedit" name="xoa" class="btn btn-delete"> Xóa<i class="fas fa-trash-alt icon-btn"></i></button>
        </div>
    </form>

</aside>

<!-- panel chi tiết -->
<aside class="details-panel" id="detailPanel">
    <div class="panel-header d-flex justify-content-between align-items-center">
        <h3>Chi tiết thông tin</h3>
        <div class="panel-controls">
            <button id="menuButton" type="button" class="btn-menu" aria-label="Menu">
                <i class="fas fa-ellipsis-v"></i> <!-- 3 chấm -->
            </button>
            <button id="closeDetailPanel" type="button" class="btn-close" aria-label="Close">
                <i class="fas fa-times"></i> <!-- Nút đóng -->
            </button>
        </div>
        <ul class="dropdown-menu panel-detail-menu" style="display: none;">
            <li><a href="#" class="edit-option" onclick="openEditPanel(event)">Sửa</a></li>
            <li><a href="#" class="delete-option">Xóa</a></li>
        </ul>
    </div>
    <div class="panel-content">
        <div class="profile-image">
            <img src="~/Content/img/cute.jpg" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="employee-info">
            <span class="manv">Mã nhân viên: NV001</span>
            <h2 class="ten">Trần Duong</h2>
            <div class="employee-department">
                <span class="department">Phòng ban: Khoa tự nhiên</span>
                <span class="position">Chức vụ: Giảng viên</span>
            </div>
        </div>
        <div class="detail-group">
            <div class="detail-item">
                <label for="cccd">CCCD</label>
                <span id="cccd">123456789</span>
            </div>
            <div class="detail-item">
                <label for="ngaysinh">Ngày sinh</label>
                <span id="ngaysinh">02/02/2003</span>
            </div>
            <div class="detail-item">
                <label for="gioitinh">Giới tính</label>
                <span id="gioitinh">Nam</span>
            </div>
            <div class="detail-item">
                <label for="noisinhsinh">Nơi sinh</label>
                <span id="noisinhsinh">Quảng Trị</span>
            </div>
            <div class="detail-item">
                <label for="sodienthoai">Số điện thoại</label>
                <span id="sodienthoai">0356742618</span>
            </div>
            <div class="detail-item">
                <label for="email">Email</label>
                <span id="email">duongdeptrai1975@gmail.com</span>
            </div>
            <div class="detail-item">
                <label for="dantoc">Dân tộc</label>
                <span id="dantoc">Kinh</span>
            </div>
            <div class="detail-item">
                <label for="ngayvaolam">Ngày bắt đầu làm</label>
                <span id="ngayvaolam">20/11/2023</span>
            </div>
            <div class="detail-item">
                <label for="trinhdo">Trình độ học vấn</label>
                <span id="trinhdo">Đại học</span>
            </div>
            <div class="detail-item">
                <label for="chucvu">Chức vụ</label>
                <span id="chucvu">Hiệu trưởng</span>
            </div>
        </div>
    </div>
</aside>

@Scripts.Render("~/bundles/main")